/* DEBUG
* { outline: solid 1px red; }
*/

/*********** General Styles Start ***********/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --textColor: #3a3a3a;
    --green: #94B49F;
    --teal: #CEE5D0;
    --beige: #FCF8E8;
    --orange: #ECB390;
}

body {
  color: black;
}

.bg{
  background-image: url(img/layered-waves-haikei\ \(2\).svg);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: '', Helvetica, sans-serif;
}

main{
  height: 100vh;
}

.listWrapper{
  background-color: white;
}

.btn-primary{
  background-color: #ECB390;
}

.disable .form-control {
  text-decoration: line-through;
}
