/* DEBUG
* { outline: solid 1px red; }
*/

/*********** General Styles Start ***********/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --textColor: #3a3a3a;
    --green: #94B49F;
    --teal: #CEE5D0;
    --beige: #FCF8E8;
    --orange: #ECB390;
}

body {
  color: var(--green);
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
}

h2, h3, h4, h5, h6 {
  font-family: '', Helvetica, sans-serif;
}

/* Here starts the codes for section 1 */

/* Here ends the code for section 1 */


/* Here starts the codes for section 2 */

/* Here ends the code for section 2 */


/* Here starts the codes for section 3 */

/* Here ends the code for section 3 */
